<div>
  <div class="row">
    <div class="col-md-8">
      <h2>Settings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Alarm types</h4>
      <p-table #dt [columns]="cols_at" [value]="alarmtypes" selectionMode="single" (onRowSelect)="onRowSelect_at($event)" [(selection)]="selectedAlarmType" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alarmtype>
          <tr [pSelectableRow]="alarmtype">
            <td>{{alarmtype.code}}</td>
            <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="alarmtype.name">
                </ng-template>
                <ng-template pTemplate="output">
                  {{alarmtype.name}}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd_at()" label="Add"></button>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Failure types</h4>
      <p-table #dt [columns]="cols_ft" [value]="failuretypes" selectionMode="single" [(selection)]="selectedFailureType" (onRowSelect)="onRowSelect_ft($event)" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-failuretype>
          <tr [pSelectableRow]="failuretype">
            <td>{{failuretype.id }}</td>
            <td>{{failuretype.name}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd_ft()" label="Add"></button>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Machines</h4>
      <p-table #dt [columns]="cols_m" [value]="machines" selectionMode="single" (onRowSelect)="onRowSelect_m($event)" [(selection)]="selectedMachine" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-machine>
          <tr [pSelectableRow]="machine">
            <td>{{machine.id }}</td>
            <td>{{machine.name}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button class="btn" pButton icon="fa fa-plus" (click)="showDialogToAdd_m()" label="Add"></button>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>


  <p-dialog header="Alarm Type Details" [(visible)]="displayDialog_at" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="alarmtype">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="code">code</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="code" [(ngModel)]="alarmtype.code" readonly/>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name">name</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="name" [(ngModel)]="alarmtype.name" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="newAlarmType" type="button" pButton icon="fa fa-close" (click)="create_at()" label="Create"></button>
        <button *ngIf="!newAlarmType" type="button" pButton icon="fa fa-close" (click)="delete_at()" label="Delete"></button>
        <button *ngIf="!newAlarmType" type="button" pButton icon="fa fa-check" (click)="save_at()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog header="Failure Type Details" [(visible)]="displayDialog_ft" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="failuretype">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="id">Id</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="id" [(ngModel)]="failuretype.id" readonly/>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name_ft">Name</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="name_ft" [(ngModel)]="failuretype.name" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="newFailureType" type="button" pButton icon="fa fa-close" (click)="create_ft()" label="Create"></button>
        <button *ngIf="!newFailureType" type="button" pButton icon="fa fa-close" (click)="delete_ft()" label="Delete"></button>
        <button *ngIf="!newFailureType" type="button" pButton icon="fa fa-check" (click)="save_ft()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog header="Machine Details" [(visible)]="displayDialog_m" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="machine">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="id_m">Id</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="id_m" [(ngModel)]="machine.id" readonly/>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name_m">Name</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="name_m" [(ngModel)]="machine.name" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="newMachine" type="button" pButton icon="fa fa-close" (click)="create_m()" label="Create"></button>
        <button *ngIf="!newMachine" type="button" pButton icon="fa fa-close" (click)="delete_m()" label="Delete"></button>
        <button *ngIf="!newMachine" type="button" pButton icon="fa fa-check" (click)="save_m()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
