<div>
  <div class="row">
    <div class="col-md-8">
      <h2>Interventions</h2>
      <h5>Select one row to get more details:</h5>
    </div>
    <div class="col-md-4">
      <!--
            <button class="btn btn-primary" (click)="display = true" pButton icon="pi pi-plus">Create Manual Alarm</button>
      -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-table #dt (onRowSelect)="show($event)" [columns]="cols" [value]="interventions" selectionMode="single" [(selection)]="selectedIntervention" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-intervention>
          <tr [pSelectableRow]="intervention">
            <td>{{intervention.timestamp | date:'medium'}}</td>
            <td>{{intervention.solution}}</td>
            <td>{{intervention.duration}}</td>
            <td>{{intervention.alarmCode}}</td>
            <td>{{intervention.alarmName}}</td>
            <td>{{intervention.alarmType}}</td>
            <td>{{intervention.machine}}</td>
            <td>{{intervention.company}}</td>
            <td>{{intervention.status}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!--<div class="col-md-4">
      <app-intervention-detail [intervention]="selectedIntervention"></app-intervention-detail>
    </div>-->
  </div>
  <!--<p-sidebar [(visible)]="display" position="right" styleClass="ui-sidebar-md">
    <app-alarm-manual></app-alarm-manual>
  </p-sidebar>-->
</div>
