<div class="grid grid-pad">
  <div class="col-md-6">
    <div *ngIf="authService.getRole()!='mass'" class="row">
      <div class="col-md-3">
        <i class="fas fa-exclamation-triangle" style="font-size:50px;color: orange;"></i>
      </div>
      <div class="col-md-3">
        <h4> Detected Alarms:  {{stats.nDetected}}</h4>
      </div>
    </div>
    <div *ngIf="authService.getRole()=='mass'" class="row">
      <div class="col-md-3">
        <i class="far fa-bell" style="font-size:50px;color: orange;"></i>
      </div>
      <div class="col-md-3">
        <h4> Activated Alarms:  {{stats.nActivated}}</h4>
      </div>
    </div>
    <div *ngIf="authService.getRole()=='mass'" class="row">
      <div class="col-md-3">
        <i class="fas fa-skull" style="font-size:50px;color: red;"></i>
      </div>
      <div class="col-md-3">
        <h4> Rejected Alarms:  {{stats.nRejected}}</h4>
      </div>
    </div>
    <div *ngIf="authService.getRole()!='mass'" class="row">
      <div class="col-md-3">
        <i class="fas fa-chalkboard-teacher" style="font-size:50px;color: blue;"></i>
      </div>
      <div class="col-md-3">
        <h4>Intervened Alarms:  {{stats.nIntervened}}</h4>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3">
        <i class="fas fa-stopwatch" style="font-size:50px;"></i>
      </div>
      <div class="col-md-3">
        <h4>Avg Solving Time:  {{stats.avgSolvingTime}}</h4>
      </div>
    </div>
      <div class="row">
        <div class="col-md-6">
          <i class="fas fa-chart-pie" style="font-size:50px;"></i>
        </div>
        <div class="col-md-6">
          <h4>Frequent problems:</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p-chart type="pie" height="250px" [data]="data"></p-chart>
        </div>
      </div>
  </div>


  <!--<h4>Machines</h4>
  <a *ngFor="let machine of machines" class="col-1-4" routerLink="/machines/{{machine.id}}">
    <div class="module">
      <h4>{{machine.name}}</h4>
    </div>
  </a>-->
  Hello from API response: {{hellomsg | json}}
</div>

