<form *ngIf="alarm">
  <div class="form-row">
    <h2>{{alarm.name}} Details</h2>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="form-control" for="timestamp">Timestamp</label>
      <input type="text" id="timestamp" name="timestamp" [value]="alarm.timestamp" readonly>
    </div>
    <div class="form-group col-md-6">
      <label class="form-control" for="status">Status</label>
      <input type="text" id="status" name="status" [value]="alarm.status" readonly>
    </div>
  </div>

  <div><span>alarm code:</span>{{alarm.code}}</div>
  <div><span>alarm name:</span>{{alarm.name}}</div>
  <div><span>alarm type:</span>{{alarm.type}}</div>
  <div><span>Machine:</span>{{alarm.machine}}</div>
  <div><span>Company:</span>{{alarm.company}}</div>
  <div><span>alarm origin:</span>{{alarm.origin}}</div>
  <div>
    <ul>
      <li><div><span>alarm comment:</span>{{alarm.comment}}</div></li>
    </ul>
  </div>
  <button class="btn btn-primary" type="submit">Sign In</button>

</form>
