<form *ngIf="alarm">
  <div class="row">
    <h3>Details: {{alarm.name}}</h3>
  </div>
  <div class="row">
    <button class="btn btn-primary" type="submit" *ngIf="authService.getRole()!='mass' && alarm.status == 'Detected'" (click)="activateAlarm()">Activate</button>
    <button class="btn orange" type="submit" *ngIf="authService.getRole()!='mass' && alarm.status == 'Detected'" (click)="dismissAlarm()">Dismiss</button>
    <button (click)="showIntervention()" class="btn btn-primary blue" type="submit" *ngIf="authService.getRole()=='mass' && (alarm.status == 'Activated' || alarm.status == 'Rejected')" (click)="interveneAlarm()">Intervene</button>
    <div class="row right-align" *ngIf="alarm.status == 'Intervened'">
        <a class="btn blue" routerLink="/interventions/{{alarm.id}}">Intervention</a>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <span for="timestamp">Timestamp</span>
      <input type="text" id="timestamp" name="timestamp" [value]="alarm.timestamp" readonly>
    </div>
    <div class="form-group col-md-3">
      <span for="status">Status</span>
      <input type="text" id="status" name="status" [value]="alarm.status" readonly>
    </div>
    <div class="form-group col-md-3">
      <span for="code">Alarm Code</span>
      <input type="text" id="code" name="code" [value]="alarm.code" readonly>
    </div>
    <div class="form-group col-md-3">
      <span for="origin">Origin</span>
      <input type="text" id="origin" name="origin" [value]="alarm.origin" readonly>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-9">
      <span for="name">Name</span>
      <input type="text" id="name" name="name" [value]="alarm.name" readonly>
    </div>
    <div class="form-group col-md-3">
      <span for="type">Type</span>
      <input type="text" id="type" name="type" [value]="alarm.type" readonly>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <span for="machine">Machine</span>
      <input type="text" id="machine" name="machine" [value]="alarm.machine" readonly>
    </div>
    <div class="form-group col-md-3">
      <span for="company">Company</span>
      <input type="text" id="company" name="company" [value]="alarm.company" readonly>
    </div>
    <div class="form-group col-md-6">
      <span for="comment">Comment:</span>
      <textarea style="height: 100px;" id="comment" name="comment" [value]="alarm.comment" [readOnly]="alarm.status == 'Detected'"></textarea>
    </div>
  </div>
</form>
