<div >
  <div class="list-group">
    <a class="list-group-item" routerLinkActive="active" routerLink="/dashboard"><i class="fa fa-home fa-lg"></i> Dashboard</a>
    <a class="list-group-item" routerLinkActive="active" routerLink="/alarms"><i class="fa fa-bell fa-lg"></i> Alarms</a>
    <a class="list-group-item" routerLinkActive="active" routerLink="/interventions"><i class="fa fa-file-text fa-lg"></i> Interventions</a>
    <a *ngIf="authService.getRole()=='mass'" class="list-group-item" routerLinkActive="active" routerLink="/master-data"><i class="fa fa-cogs fa-lg"></i> Settings</a>
    <a *ngIf="authService.getRole()=='mass'" class="list-group-item" routerLinkActive="active" routerLink="/users"><i class="fas fa-users fa-lg"></i> Users</a>
  </div>
</div>
